hr {
    background-color: #7d7c7c !important;
    border-radius: 50px;
}

.my-publications .button-new-story {
    text-align: center;
}

.footerModal {
    width: 640px !important;
    text-align: center !important;
}

.contentModal {
    padding: 10px;
    margin: auto;
    margin-bottom: 0 !important;
}

.nameArtise {
    color: red;
}

.publications {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.displayAddChapter {
    display: none !important;
}