.puzzle-slider, .puzzle-slider img  {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  height: 250px;
  float: right;
  margin: 0px;
  margin-right: -15px;
}
@media (max-width: 300px) {
  .row2 img{
    width:50%;
    padding-top: 30px !important;
  }

}
@media (max-width: 300px) {  
  .puzzle-slider, .puzzle-slider img {
    width: 50%;
  }
  .logo {
    width: 70px;
  }
  .titre h2{
    font-weight: 700;
    font-size: 40px !important;
    color: #32323d;

  }
  .titre h4{
    font-weight: 600;
    font-size: 15px !important;
    color: #ef5466;
  }
  .titre a{
    width: 200px !important;
    font-weight: 600;
    color: yellow !important;
  }

}
@media (max-width: 300px) {
  .puzzle-slider, .puzzle-slider img {
    width: 60%;
  }
  .titre h2{
    font-weight: 700;
    font-size: 30px !important;
    color: #32323d;

  }
  .titre h4{
    font-weight: 600;
    font-size: 15px !important;
    color: #ef5466;
  }
  .row2 img{
    width:90%;
  }

}
.navbar{
  background-color: white !important;
}
.navbar-brand span {
  display: flex;
  align-items: stretch !important;
}
.logo {
  width: 70px;
  position: relative;
  margin-top: 0px;
}
body {
  background-image: url('../images/fond.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display : table;
  width : 100%;
}

.content {
  width: 70%;
  margin: auto;
  margin-bottom: 0!important;
  background-color: whitesmoke;
  padding: 20px;
}
.container .row {
  margin: 5px;
}
.row{
  margin-right: 0px !important;
}
.titre{
  padding-left: 45px;
}
.titre h2{
  font-family: 'Roboto Mono', monospace;    
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #32323d;
  margin-top: 120px;
}
.titre h4{
  font-family: 'Roboto Mono', monospace;    
  font-style: thin;
  font-weight: 600;
  font-size: 25px;
  color: #ef5466;
  margin-top: 20px;
}
.titre a{
  margin-top: 20px;
  width: 250px;
  font-weight: 600;
  color: #ef5466 !important;
}
.titre a:hover{
  color: White !important;
}
.buttonconnex a {
  font-weight: 700;
  margin-right: 80px;
  border-radius: 15px;
  margin: 10px;
  margin-right: 100px;
  width: 150px;
}
.buttonconnex a:hover {
  background-color: white !important;
  color: #278291 !important;
  border-color: #278291 !important;
}
.buttoninscrip a {
  font-weight: 600;
  border-radius: 15px;
  margin: 10px;
  width: 150px;
}
.row2{
  font-family: 'Roboto Mono', monospace;    
  padding: 90px;
  text-align: left;
  background-color: white;
  height: auto;
}
.row2 h2{
  padding-top: 10px;
  font-weight: 700;
  font-size: 34px;
  color: #32323d;
  text-align: center;
}
.row2 h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #32323d;
  text-align: left;
}
.row2 p{
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #32323d;
  text-align: left;
}
.row2 .row{
  margin: 50px;
}
.row2 img{
  float: left !important;
  margin: 0px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px; 
  text-align: center;
  background-color: #f5f5f5;
}
footer {
  bottom: 0;
  width: 100%;
  background-color:white;
  display:table-row!important;
  flex-direction: column;
}
footer > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
}
html, body {
	height: 100%;
	margin: 0; padding: 0;
}

.author { font-size: medium!important; margin-left: 50px; }
.author_story { font-size: medium!important; margin-left: 50px; }
.cover_story img { border: 1px solid black; }
.cover_chapter { text-align: center; }
.cover_chapter img { height: 150px; border: 1px solid black; }

.formulaire {
  margin: 0 40px;
}

.barre {
  background-color: #7d7c7c !important;
  border-radius: 50px;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between center;
}

.dropdownButton a {
  font-weight: 700;
  margin-right: 80px;
  border-radius: 15px;
  margin: 10px;
  margin-right: 100px;
  width: 150px;
}

.notificationsIcon {
  background-color: #82c3ff;
  width: 3rem !important;
  height: 3rem !important;
  font-size: 2em;
  margin-right: 8px;
}

.cover_chapter img { border: 1px solid black; }
.author_story { font-size: medium!important; margin-left: 50px; }
.slideshow-container { position: relative; margin: auto; }
.prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; padding: 16px; margin-top: -22px; color: white; font-weight: bold; font-size: 18px; transition: 0.6s ease; border-radius: 0 3px 3px 0; user-select: none; }
.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8); }
.numbertext { color: gray; font-size: 12px; padding-top: 10px; position: absolute; right: 0; left: 0; margin: auto; width: 300px; text-align: center; }
.media-left { margin-bottom: 0!important; }
.dropdown-button, .dropdown-content button { border: 0; }
.dropdown-menu, .dropdown-content { padding: 0; padding-top: 0!important; }
.media-content p { background-color: white;padding: 10px;border-radius: 15px;margin-bottom: 5px;margin-top: 5px; }

.flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.avatar-bords
{
  border-radius: 10px;
}